@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
/* @import "./base.css"; */
/* @import "tailwindcss/utilities"; */

html {
  /* font sizes */
  --12px: 0.75rem;
  --14px: 0.875rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --64px: 4rem;
  --72px: 4.5rem;
  --108px: 6.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--prompt-font);
  color: black;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

fieldset {
  border: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  overflow: auto;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}
